/* .layout-topbar {
  background-color: #344a58;
  display: block;
  box-sizing: border-box;
  padding: 0;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)
}

#layout-sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: calc(100% - 70px);
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
}
#layout-sidebar .layout-menu>a {
  width: 100%;
  height: 50px;
  display: block;
  padding: 15px 0 0 25px;
  cursor: pointer;
  border-top: 1px solid #e3e9ea;
  box-sizing: border-box;
} */


.feature-title {
  font-size: 30px;
  color: white;
  padding-left: 12px;
}

.cart-btn {
  font-size: 2rem;
  color: #fff;
}

.cart-container {
  float: right;
}

.topbar-menu {
  margin-top: 4px;
  display: inline-block;
  list-style-type: none;
  margin: 0 25px 0 0;
  padding: 0;
  height: 100%;
}

.topbar-menu>li>a {
  text-decoration: none;
  color: #fff;
  transition: background-color .2s;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  line-height: 70px;
  font-size: 16px;
}

topbar-menu>li.topbar-menu-themes {
  position: relative;
}

.topbar-menu>li {
  display: inline-block;
  height: 100%;
}

.cart-btn-home {
  font-size: 1.75rem;
  color: #fff;
  margin-top: 7px;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  overflow: hidden;
  background-color: #344a58;
  height: 50px;
  padding: 0px 20px;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  flex: 1;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-logo
{
  color: white;
}

/* .header a:hover {
  background-color: #ddd;
  color: black;
} */

/* .header a.active {
  background-color: dodgerblue;
  color: white;
} */

.header-right {
  text-align: right;
  flex: 1;
}
.cart-icon{
  display: inline-block;
  color: #fff;
  padding: 10px;
  background: #34a835;
  border-radius: 50%;
  position: relative;
  margin-left: -8px;
  line-height: 0;
}

@media screen and (max-width: 500px) {
  .header a {
    display: inline-block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
  th.ui-p-1,
  td.ui-p-1 {
      display: table-cell;
  }
}

/* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
  th.ui-p-2,
  td.ui-p-2 {
      display: table-cell;
  }
}

/* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
  th.ui-p-3,
  td.ui-p-3 {
      display: table-cell;
  }
}

/* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
  th.ui-p-4,
  td.ui-p-4 {
      display: table-cell;
  }
}

/* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
  th.ui-p-5,
  td.ui-p-5 {
      display: table-cell;
  }
}

/* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
  th.ui-p-6,
  td.ui-p-6 {
      display: table-cell;
  }
}

