<div class="login-wrapper">
<div class="login-card">
  <p-card header="Simple Card" [style]="{width: '400px'}">
    <div class="ui-g ui-fluid login-container">
      <div class="ui-g-12 ui-md-12">
        <div class="p-col-2">
          <!-- <img class="logo" alt="logo" src="assets/images/coffee_logo.jpg" /> -->
          <span class="feature-title">Cafe</span>
          <i class="fas fa-coffee logo"></i>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="p-col-2">
          <input type="text" pInputText placeholder="Username" class="login-input" [(ngModel)]="userName">
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
        <div class="p-col-2">
          <input type="password" pInputText placeholder="Password" class="login-input" [(ngModel)]="password"/>
        </div>
      </div>
      <div class="ui-g-12 ui-md-12">
          <div class="p-col-2" *ngIf="incorrect">
              <i class="fa fa-exclamation" style="color: #de3030;"></i><label style="color: #de3030;">&nbsp;UserName or passsword is incorrect</label>  
            </div>
        <div class="p-col-2">
          <button pButton type="button" label="Login" class="login-btn ui-button-raised" (click)="login()" [disabled]="!userName && !password"></button>
        </div>
      </div>
    </div>
  </p-card>
</div>
</div>
