.toast-content {
    padding-top: 40px;
  }

  /* .ui-widget-overlay ui-sidebar-mask
  {
    z-index: 0;
  } */

  /* body .ui-widget-overlay {
    background-color: rgba(0, 0, 0, 0.4);
} */